<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean id="userAction" class="com.lsz.spring.setinjection.User" >
              <property name="username" value="admin"></property>
       </bean>

       <bean id="userService" class="com.lsz.spring.service.UserService"></bean>
       <bean id="userAction1" class="com.lsz.spring.setinjection.User1" >
              <property name="userservice" ref="userService"></property>
       </bean>

       <bean id="userAction2" class="com.lsz.spring.setinjection.User2" >
              <property name="username">
              <list>
                     <value>zhang,san</value>
                     <value>lisi</value>
                     <value>wangwu</value>
              </list>
              </property>
       </bean>

       <bean id="userAction3" class="com.lsz.spring.setinjection.User3">
              <property name="props">
                     <props>
                            <prop key="url">jdbc:oracle:thin:@localhost:orl</prop>
                            <prop key="driverName">oracle.jdbc.driver.OracleDriver</prop>
                            <prop key="username">scott</prop>
                            <prop key="password">tiger</prop>
                     </props>
              </property>
       </bean>

       <bean id="userAction4" class="com.lsz.spring.Structuralinjection.User4">
              <constructor-arg value="admin" index="0"></constructor-arg>
              <constructor-arg value="23" type="int" index="1"></constructor-arg>
       </bean>
</beans>